.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.landingImage {
  z-index: 0;
}

.title {
  text-align: center;
  padding: 3rem;
}

.mainInfo {
  text-justify: auto;
  font-size: large;
  padding: 3rem;
}

.profile {
  border-radius: 30px;
}

.section {
  position: relative;
  z-index: 1;
  width: 1250px;
  height: 700px;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 200px;
}

.info {
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
